.error {
  color: red;
}

.input.error {
  border-color: red;
}

.inp-grp {
  width: 100%;
}
.label {
  font-size: 20px;
  color: #999;
}

.input {
  height: 36px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  margin-bottom: 36px;
  border: 1px solid #999;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 15px;
}
